img { 
  max-width:100%; 
}
video{
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

header div{
  display: inline-block;
  margin: 0 50px 0 50px;
}

.banner{
  margin: 25px 0 0 50px;
  width: 55%;
  height: 115px;
  background-image: url("Banner/bBanner.jpg");
  border-radius: 10px;
}

.beerUni{
  float: right;
  height: 100px;
  padding: 5px 20px 0 0px;
}

.Logo{
  width: 60px;
  height: 60px;
  float: right;
  margin: 0 10px 20px 10px;
}

.Youtube{
  background: url("logo/YouTubeLogo.png");
  background-size: 100%;
}

.Youtube:hover{  
  background-image: url("logo/YouTubeCap.png");
  background-size: 100%;
  background-position: 0 0;
  transition: all 0.3s ease-in-out;
}

.Facebook{
  background: url("logo/facebook.png");
  background-size: 100%;
}

.Facebook:hover{  
  background-image: url("logo/FacebookCap.png");
  background-size: 100%;
  background-position: 0 0;
  transition: all 0.3s ease-in-out;
}

.Twitter{
  background: url("logo/twitter.png");
  background-size: 100%;
}

.Twitter:hover{  
  background-image: url("logo/TwittCap.png");
  background-size: 100%;
  background-position: 0 0;
  transition: all 0.3s ease-in-out;
}

.softuniLogo{
  width: 170px;
  position: fixed;
  right: 0px;
}

.rating {
  unicode-bidi: bidi-override;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 2em;
  color: white;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  transition: all 0.3s ease-in-out;
}

nav>ul{
  text-align: left;
}

@font-face{
  font-family: drawing;
  src: url("Fonts/DrawFont.ttf");
}

nav>ul>li{
  border-radius: 10px;
  width: 100px;
  display: inline-flex;
  margin: 0 30px 0 30px;
  font-size: 1.5em;
  text-align: center;
}

nav>ul>li>a{
  background-image: url("Banner/txtBg.png");
  text-decoration: none;
  border-radius: 8px;
  width: 100px;
  font-family: drawing;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


nav>ul>li:hover a{
  background-image: url("Banner/invert.png");
  color: #F9D005;

  -webkit-transform: translate3d(80px, 80px, 80px);
  -moz-transform: translate3d(10px, 10px, 10px);
  -ms-transform: translate3d(10px, 10px, 10px);
  -o-transform: translate3d(10px, 10px, 10px);
  transform: scale(1.8);
}


aside{
  padding-top: 50px;
}

aside>ul>li{
text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  overflow: hidden;
  
  background-image: url("Banner/aside.png");
  background-position: top;
  background-repeat: no-repeat;
  list-style-type: none;
  color: white;
  border: solid 3px #FF9606;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  text-align: center;
  width: 15%;
  height: 50px;
  margin-bottom: 7px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

aside>ul>li>a{
  text-decoration: none;
  font-family: drawing;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}

aside>ul>li:active{
  -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 0;
  left: 0;
}

/*NIKI:*/
div.sidebar>a{
  position: absolute;
  top:130px;
  right: 50px;

  font-size: 3em;
  color: white;
  font-family: impact;
  text-align: center;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/

  text-shadow:
  1px 1px 0 #CCC,
  2px 2px 0 #CCC,
  3px 3px 0 #444,
  4px 4px 0 #444,
  5px 5px 0 #444,
  6px 6px 0 #444;
}
div.sidebar>a>ul>li, .middle{
  list-style: none;
  display: inline-block;
}
div.sidebar>a>ul{
    padding:0;
    margin: 0;
}
.beer{
  width: 140px;
  height: 140px;
  display: inline-block;
  margin: 40px 10px;

}
.break{
  word-wrap:break-word;
  width: 30px;
}
.orange{
  color:#f6dc61;
  /*visibility: hidden;*/
}

.sidebar>a :hover{
  color:#f6dc61;
  transition: all 0.4s ease-in-out;
  
}
.sidebar:hover .orange{
  visibility: visible;
  color:white;
  -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2); 
    transition: all 0.4s ease-in-out;
}
.sidebar:hover .beer{
  visibility: hidden;
}
a{
  text-decoration: none;
}
@media screen and (min-width: 900px) {
    .smallBeer{
      display: none;
    }
}
@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
    .smallBeer>a>ul{
    position: absolute;
    /*bottom:1%;*/
    left:15%;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    white-space: nowrap;
    
    color: white;
    font-size: 2.5em;
    font-family: impact;
    text-shadow:
    1px 1px 0 #CCC,
    2px 2px 0 #CCC,
    3px 3px 0 #444,
    4px 4px 0 #444,
    5px 5px 0 #444,
    6px 6px 0 #444;
  }
  .smallBeer>a>ul>li{
    list-style: none;
    display: inline-block;

  }
  .smallBeer>a>ul>li:hover{
    color:#f6dc61;
    
  }
  .smallBeerPic{
    width: 60px;
    height: 60px;
    margin-bottom: -17px;
  }
  video{
      display: none;
    }
  body{
    background: url('banner/background.jpg')no-repeat;
    background-size: 100%;
  }
}
/*NIKI*/
  
.center-contain{
	width: 40%;
	height: 30%;
	position: absolute;
	left: 300px;
	top: 270px;
    
footer{
    background-image: url("Banner/footer.png");
    background-size: 100%;
}
